<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>


<%= render 'landing_page/upper_banner'  %>
<%= render 'landing_page/upper_section'  %>
<%= render 'landing_page/middle_banner'  %>
<%= render 'landing_page/lower_section'  %>

<%= link_to("S'inscrire", subscribe_path) %>


