<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<h1>Get My Awesome News Letter</h1>
<p>Give me your email and keep up to date on my cat's thoughts.</p>
<%= form_tag('subscribe', method: "post", id: "subscribe", remote: "true") do -%>
  <%= label_tag 'Ton prénom'  %>
  <%= text_field(:person, :first_name, placeholder: 'Juste') %>
  <%= label_tag 'Ton nom'  %>
  <%= text_field(:person, :last_name, placeholder: 'Leblanc') %>
  <%= label_tag 'Ton email'  %>
  <%= email_field(:email, :address, {id: "email", placeholder: "j.leblanc@gmail.com"}) %>
  <%= submit_tag("Sign me up!") %>
<% end %>
